wp-content/uploads/*
wp-content/backups-dup-lite/
wp-content/themes/yootheme/cache/
wp-config.php
.ftpconfig
*.log

# WP backups
wp-content/backups-dup-lite/
*.zip

# WP backups
wp-content/backups-dup-lite/
*.zip
