.address {
	width: 80vw;
}

.address__form {
	position: relative;
}

.address__input-wrap {
	width: 100%;
}

.address__input {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	padding: 20px 64px 20px 24px;
	outline: none;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 10%), 0px 16px 32px rgb(0 0 0 / 20%);
	background-color: #f5f6ff;
	color: #0d0d24;
	letter-spacing: 0.0125em;
	font-size: 16px !important;
	font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.address__btn {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	border: none;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
	transition: padding 0.1s ease 0s, background-image 0.1s ease 0s, background 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
	letter-spacing: 0.0125em;
	color: white;
	background-color: #FAA048;
	width: 48px;
	height: 48px;
	-webkit-box-pack: center;
	justify-content: center;
}

.address__icon {
	display: none;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}

.address__icon svg {
	width: 32px;
}

@media (min-width: 480px) {
	.address__input {
		padding: 20px 64px;
		font-size: 20px !important;
	}
}

@media (min-width: 768px) {
	.address__input {
		font-size: 24px !important;
	}

	.address__btn svg {
		width: 20px;
	}

	.address__icon {
		display: block;
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
	}
}

@media (min-width: 992px) {
	.address {
		width: 50vw;
	}
}
