/**
 * Theme Name: YOOtheme Child Theme
 * Theme URI: https://yootheme.com
 * Description: A powerful, flexible and elegant website builder that allows you to create complex pages within minutes and customize every aspect of the theme.
 * Version: 2.7.21
 * Author: YOOtheme
 * Author URI: https://yootheme.com
 * Template: yootheme
 */